:root {
  --text-color: #f0f4f5;
  --background-color: #15141F;
  --accent-color: #d49466;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211F30;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo a {
  color: #f0f4f5;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  color: var(--text-color);
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover{
  background-color: #393552;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__icons li:hover{
  background-color: #393552;
  border-radius: 4px;
  cursor:pointer;
}

.navbar__toggleBtn {
  display: none; 
  position: absolute;
  right: 20px;
  font-size: 28px;
  background-color: #211F30;
  border: none;
  cursor: pointer;
}

.navbar__toggleBtn i {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../images/menu_icon.png") no-repeat center center;
}

@media screen and (max-width: 768px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width:100%;
    z-index: 1;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }
  
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }

  .movieList__area .movieList {
    flex-direction: column;
    align-items: center;
  }
  
}